* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  text-align: center;
  font-family: sans-serif;
  background: ghostwhite; 
  color: dimgray;
}


h1{
  font-size: 2.4rem;
}

#container{
  margin-top: 100px;
  text-align: center;
  border-radius: 5px;
  text-align: center;
}

.box{
  display: inline-block;
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  text-align: center;
  box-sizing: border-box;
  padding: 0;

}

span{
  position: absolute;
  font-size: 70px;
  font-family: sans-serif;
  text-align: center;
  height: 75px;
  width: 75px;
  padding: 0;
  margin: 5px;
  margin-left: -35px;
}

.top{
  border-top: none;
}

.bottom{
  border-bottom: none;
}

.left{
  border-left: none;
}

.right{
  border-right: none;
}

.alert{
  height: 75px;
  width: 125px;
  display: inline-block;
  background: ghostwhite;
  position: relative;
  z-index: 10;
  margin-top: -50px;
  border-radius: 20px;
  box-shadow: 0 0 75px 2px  dimgray;
  animation: larger 0.5s;
  animation-fill-mode: forwards;
  box-sizing: content-box;
  padding: 30px;
  bottom: 20px;
  top: 0;
}

button{
  background: dimgray;
  border-radius: 2px;
  color: ghostwhite;
  border: none;
  outline: none;
}


button:focus{
  background: silver;
}

.activeBox{
  background: silver;
}

@keyframes larger{
  from{
    height: 75px;
    width: 125px;
}

  to{
    height: 100px;
    width: 250px;
}
}